#navbar-div { 
    width: 1440px;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

/*  LOGO AND TEXT */
.left-logo-txt-div { 
    display: flex;
    align-items: center;
}

.left-logo { 
    width: 50px;
}

.left-logo-txt {
    font-size: 43px;
    margin-left: 15px;
    font-weight: bold;
}

/* MID NAVBAR */
.navbar-mid-section-div { 
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-mid-element { 
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    width: 100%;

    font-family: Space Grotesk;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: left;

}

@media (max-width: 415px) { 
    #navbar-div {
        width: 100%;   
    }

    .left-logo { 
        width: 200px;
    }

    .left-logo-txt {
        font-size: 143px;
        margin-left: 15px;
        font-weight: bold;
    }
}